#container_outer{
  position: relative;
  left: 30%;    
  width:  600px;
  height: 600px;
  
}

.inner1{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0px;
  left: 0px;
  background-color: red;
  border: 2px solid white;
}

.inner2{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0px;
  left: 200px;
  background-color: blue;
  border: 2px solid white;
}
.inner3{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0px;
  left: 400px;
  background-color: green;
  border: 2px solid white;    
}
.inner4{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
  left: 0px;
  background-color: yellow;
  border: 2px solid white;
}
.inner5{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
  left: 200px;
  background-color: black;
  border: 2px solid white;
}
.inner6{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
  left: 400px;
  background-color: orange;
  border: 2px solid white;
}
.inner7{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 400px;
  left: 0px;
  background-color: purple;
  border: 2px solid white;
}
.inner8{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 400px;
  left: 200px;
  background-color: gray;
  border: 2px solid white;    
}
.inner9{
  position: absolute;
  width: 200px;
  height: 200px;
  top: 400px;
  left: 400px;
  background-color: pink;
  border: 2px solid white;    
}
#kolo1{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: pink;
    border-radius: 100%;
    border: 2px solid black;
 
}
#kolo2{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: gray;
    border-radius: 100%;
    border: 2px solid black;
}
#kolo3{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: purple;
    border-radius: 100%;
    border: 2px solid black;
}
#kolo4{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: green;
    border-radius: 100%;
    border: 2px solid black;
}
#kolo5{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: red;
    border-radius: 100%;
    border: 2px solid black;
}
#kolo6{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: blue;
    border-radius: 100%;
    border: 2px solid black;
}
#kolo7{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: orange;
    border-radius: 100%;
    border: 2px solid black;
}
#kolo8{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: yellow;
    border-radius: 100%;
    border: 2px solid black;
}
#kolo9{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: black;
    border-radius: 100%;
    border: 2px solid black;
}

